<html>
  <head>
    <meta name="viewport" content="width = 320, initial-scale = 1.0">
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag "jquery.min.js", "rails.js", "application.js", "http://#{request.host}:8080/application.js" %>
    <%= csrf_meta_tag %>
  </head>

  <body>
    <div class="robot">
      <div id="phrase" style="visibility:hidden;"><span id="phrase_text"></span></div>
      <% form_tag '', :remote => true, :id => 'say_form' do -%>
        <%= select_tag :voice, options_for_select(@voices, @voice) %>
        <%= label_tag :says %>
        <%= text_field_tag :message %>

        <%= submit_tag 'Speak!' %>
      <% end -%>
    </div><!-- /robot -->
    <div id='audio_element'></div>

    <script type="text/javascript" charset="utf-8">
      $("#say_form").bind("ajax:complete", function() {
        $('#message').val('');
      });

      function playAudio(url) {
        $("#audio_element").html("<embed src='" + url + "' hidden='true' autostart='true' loop='false' />");
      }

      function displayCaption(phrase) {
        $("#phrase_text").text(phrase);
        $("#phrase").css({opacity: 0.0, visibility: "visible"}).animate({opacity: 1.0}).
          delay(5000).
          css({opacity: 1.0}).animate({opacity: 0.0});
      }

      function process(data) {
        var dataObject = eval('(' + data + ')');
        displayCaption(dataObject.phrase);
        playAudio(dataObject.url);
      }

      var jug = new Juggernaut;
      jug.subscribe("speak_boc_speak", function(data) {
        process(data);
      });
    </script>
  </body>

</html>
